@import "variables.scss";

@mixin panel-base($color: $black) {
  background: $white;
  border: 2px solid $color;
  border-radius: 10px;
}

@mixin panel($color: $black) {
  @include panel-base($color);

  box-shadow: 5px 5px 0 $color;
}

@mixin panel-small($color: $black) {
  @include panel-base($color);

  box-shadow: 2px 2px 0 $color;
}

@mixin button-primary($color: $black) {
  @include panel-small($color);

  $transition: all 0.15s ease-in;

  font-size: 20px;
  font-weight: 700;
  padding: 5px 30px;
  transition: $transition;
  color: $color;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    box-shadow: 5px 5px 0 $color;
  }
}
